font-face {
  font-family: 'Gobold';
  src: url("babylon/assets/Fonts/GoboldLight.otf"); }
@font-face {
  font-family: 'Gobold';
  src: url("babylon/assets/Fonts/GoboldBold.otf");
  font-weight: bold; }
@font-face {
  font-family: 'Gobold';
  src: url("babylon/assets/Fonts/GoboldBoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Gobold';
  /*src: url("babylonassets/Fonts/GoboldLightItalic.otf");*/
  font-style: italic; }


* {
  box-sizing: border-box;
  font-family: "Gobold";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
          "HelveticaNeue-Light",
          "Helvetica Neue Light",
          "Helvetica Neue",
          Helvetica,
          Arial,
          "Lucida Grande",
          sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
  padding:0;
}

canvas{
  width:100%;
  height:100%;
  max-width: 100%;
  z-index:200;
}

/* Pages */

.pages, #gameover {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
    position: absolute;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
  /*background-image: url("/babylon/assets/UI/Mobile/MobileGround.png");*/

  background:none;
}

#background img{
  position:absolute;
  width:100%;
  z-index:-10;
  object-fit: cover;
}
/* Login & Roomcange Pages*/

.login.page, .passcode.page {

}


.login.page .form, .passcode.page .form , .player.page .form, .gameplay.page .form, .gameover.page .form{
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
  max-width: 100%;
}

.login.page .form .usernameInput, .passcode.page .form .passcodeInput{
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  max-width: 100%;
  display: block;
  margin:auto;

}

.login.page .title, .passcode.page .title {
  font-size: 200%;
}

.login.page .usernameInput, .passcode.page .passcodeInput {
  font-size: 200%;
  letter-spacing: 3px;
  color:white;
  font-weight: bold;
}

.login.page .title, .passcode.page .title, .login.page .usernameInput, .passcode.page .passcodeInput {
  color: #fff;
  font-weight: 100;
  color: yellow;
}

.passcode.page .passcodeInput{
  color: white;
  font-weight: bold;
  font-size: 600%;
  background:none;
  border:none;
  text-align: center;
}

.passcode.page img{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
}

#footerLogo{
  text-align: center;
}


#footerLogo img{
  position:absolute;
  bottom: 0;
  z-index: -10;
  left:0;
  right:0;
  width: 100%;
  height: 200px;
  object-fit:contain;
}

#headerInstructions{
  text-align: center;
  position:absolute;
  top: 0;
  z-index: -10;
  left:0;
  right:0;
  width: 100%;
  height: 200px;
  object-fit:contain;
    opacity:0;
}


#headerInstructions h2{
color:yellow;
}

.player.page .form{
  top:30%;
}

.player.page .form .firstName{
  color:white;
  font-size:80px;
}

.player.page .form .lastName{
  color:rgb(77, 196, 249);
  font-size:120px;
}

.player.page .form img{
  width:50%;
  margin-top:-20px;
}

.player.page .form .teamColor{
  color:red;
  font-style:italic;
  font-size:140px;
  transform: rotate(-12deg);
}

.player.page .form .teamLabel{
  color:white;
  font-weight: bold;
  font-style: normal;
  font-size:70px;
  margin-top: 30px;
  letter-spacing: 10px;
}

#refreshLogo img{
  position:absolute;
  right:0px;
  transform-origin: center;
}

.gameplay.page .form{
  top:8%;
}

.gameplay.page .form .instructions{
  color:yellow;
  margin-top: -20px;
  font-size: 40px;
}

.gameover.page .form{
  top:33%;
}

.gameover.page .form .thank{
   color:white;
   font-size: 80px;
   font-weight:bold;
 }

.gameover.page .form .you{
  color:white;
  font-size: 80px;
  font-weight:bold;
}

.gameover.page .form #dash{
  width: 50%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.gameover.page .form #button{
  width: 40%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.passcode.page{
  display: block;

}

.player.page{
  display: none;

}

.gameplay.page{
  display: none;
  z-index: -100;
}

.gameover.page{
  display: none;

}

/**
 * Canvas
 */
/*
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
*/
.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
