* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
          "HelveticaNeue-Light",
          "Helvetica Neue Light",
          "Helvetica Neue",
          Helvetica,
          Arial,
          "Lucida Grande",
          sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
  padding:0;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
    position: absolute;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login & Roomcange Pages*/

.login.page, .passcode.page {
  background-color: #000;
}

.login.page .form, .passcode.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
  max-width: 100%;
}

.login.page .form .usernameInput, .passcode.page .form .passcodeInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  max-width: 100%;
}

.login.page .title, .passcode.page .title {
  font-size: 200%;
}

.login.page .usernameInput, .passcode.page .passcodeInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .passcode.page .title, .login.page .usernameInput, .passcode.page .passcodeInput {
  color: #fff;
  font-weight: 100;
}

/**
 * Canvas
 */
/*
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
*/
.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
