@font-face {
  font-family: 'Gobold';
  src: url("assets/Fonts/GoboldLight.otf");
}
@font-face {
  font-family: 'Gobold';
  src: url("assets/Fonts/GoboldBold.otf");
  font-weight: bold;
}
@font-face {
  font-family: 'Gobold';
  src: url("assets/Fonts/GoboldBoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Gobold';
  src: url("assets/Fonts/GoboldLightItalic.otf");
  font-style: italic;
}
* {
  box-sizing: border-box;
  font-family: "Gobold";
}

#fpsLabel, #list-top {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #999;
  cursor: default;
}

#list-top, #list-bot {
  left: 20px;
  right: initial;
}

#fpsLabel-bot, #list-bot {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #999;
  cursor: default;
}

#scoreLabel {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #999;
  cursor: default;
}

#titleTopLeft {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 0px;
  border-radius: 3px;
  cursor: default;
  overflow: visible;
}

#titleTopLeft img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  position: relative;
}

#titleTopLeft img#titleLights {
  width: 100%;
  height: 150%;
  object-fit: contain;
  object-position: top left;
  position: absolute;
  top: 0;
  left: 0;
}

#permanentGameBranding header {
  height: 200px;
  position: absolute;
  top: 0;
  width: 100%;
  /*background: rgba(1,1,1,.5);*/
}
#permanentGameBranding footer {
  height: 200px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("assets/UI/D1/BtmBarGround(clean).png");
  background-size: cover;
  background-position: top;
}

#inner {
  max-width: 1920px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
#inner #container {
  max-height: 800px;
}
#inner #container #comboBadge {
  background: url("assets/UI/D3/ComboFlareGround.png") no-repeat center;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  right: 50px;
  background-size: contain;
  transform: rotate(10deg);
  padding: 40px;
}
#inner #container #comboBadge h2 {
  margin-bottom: 0;
  line-height: 1em;
  top: 50%;
  transform: translateY(50%);
}
#inner #container #comboBadge h2#comboNum {
  font-size: 80px;
  color: yellow;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
#inner #container #comboBadge h2#streak {
  font-size: 60px;
  color: yellow;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

#preFooter {
  position: absolute;
  bottom: 300px;
  right: 0;
  width: 100%;
}
#preFooter #playNow {
  background: url("assets/UI/D1/PlayNowGradient(crop).png") no-repeat right;
  width: 50%;
  background-size: cover;
  margin-right: 0;
  margin-left: auto;
}
#preFooter #playNow h2 {
  font-size: 80px;
  color: yellow;
  font-style: italic;
  text-align: right;
  padding-right: 20px;
}
#preFooter #playNow h2 span.emphasize {
  font-weight: bold;
  color: white;
}

footer #footerLeft, footer #footerCenter {
  width: 18%;
  height: 100%;
  /*background-color: cyan;*/
  background-color: rgba(33, 134, 191, 0.5);
  display: inline-block;
  position: relative;
  float: left;
  max-width: 700px;
  padding-top: 50px;
  padding-bottom: 40px;
}
footer #footerLeft #countdown, footer #footerCenter #countdown {
  display: none;
}
footer #footerLeft .attractLeft, footer #footerCenter .attractLeft, footer #footerLeft .attractRight, footer #footerCenter .attractRight {
  display: none;
}
footer #footerLeft .attractLeft, footer #footerCenter .attractLeft {
  width: 30%;
  float: left;
}
footer #footerLeft .attractLeft h2, footer #footerCenter .attractLeft h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: cyan;
  position: relative;
  margin-bottom: 5px;
  font-weight: normal;
}
footer #footerLeft .attractLeft h2.stepNum, footer #footerCenter .attractLeft h2.stepNum {
  font-size: 65px;
  margin-bottom: 0;
}
footer #footerLeft .attractRight, footer #footerCenter .attractRight {
  width: 70%;
  float: left;
}
footer #footerLeft .attractRight h2, footer #footerCenter .attractRight h2 {
  font-style: italic;
  line-height: 1em;
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  color: yellow;
  position: relative;
  font-weight: normal;
}
footer #footerLeft .attractRight h2 span#courtCode, footer #footerCenter .attractRight h2 span#courtCode, footer #footerLeft .attractRight h2 span#textCode, footer #footerCenter .attractRight h2 span#textCode, footer #footerLeft .attractRight h2 span#textNum, footer #footerCenter .attractRight h2 span#textNum {
  font-weight: bold;
  color: white;
}
footer #footerCenter {
  background: none;
}
footer #footerRight {
  width: 14%;
  height: 100%;
  margin: auto;
  padding: 0px;
  border-radius: 3px;
  cursor: default;
  overflow: visible;
  display: inline-block;
  position: relative;
  z-index: 1;
  float: right;
  max-width: 225px;
}
footer #footerRight img#sponsorLogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 20;
}
footer #footerRight img#sponsorGround {
  width: 130%;
  height: 125%;
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
}

#attractLabel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 800px;
  height: 500px;
  overflow: visible;
  font-size: 64px;
  margin: auto;
  padding: 50px;
  border-radius: 3px;
  text-align: center;
  /*background:rgba(0,0,0, 0.2);*/
  color: #999;
  cursor: default;
}

#timeLabel {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  text-align: center;
  background: red;
  border: 2px solid #333;
  border-radius: 3px;
  color: #fff;
  cursor: default;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

/* Pages */
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login & Roomcange Pages*/
.login.page, .passcode.page {
  background-color: #000;
}

.login.page .form, .passcode.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  max-width: 100%;
}

.login.page .form .usernameInput, .passcode.page .form .passcodeInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  max-width: 100%;
}

.login.page .title, .passcode.page .title {
  font-size: 200%;
}

.login.page .usernameInput, .passcode.page .passcodeInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .passcode.page .title, .login.page .usernameInput, .passcode.page .passcodeInput {
  color: #fff;
  font-weight: 100;
}

/**
 * Canvas
 */
/*
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
*/
.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black {
  background-color: black;
}

.color.red {
  background-color: red;
}

.color.green {
  background-color: green;
}

.color.blue {
  background-color: blue;
}

.color.yellow {
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
