* {
  box-sizing: border-box;
}

#fpsLabel, #list-top {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #999;
  cursor: default;
}
#list-top, #list-bot {
  left: 20px;
  right: initial;
}
#fpsLabel-bot, #list-bot {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #999;
  cursor: default;
}

#scoreLabel {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #999;
  cursor: default;
}

#attractLabel {
  position: absolute;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  width: 100%;
  max-width: 800px;
  height: 500px;
  overflow: visible;
  font-size: 64px;
  margin: auto;
  padding:50px;
  border-radius:3px;
  text-align: center;
  /*background:rgba(0,0,0, 0.2);*/



  color: #999;
  cursor: default;
}

#timeLabel {
  position: absolute;
  left:0;
  right:0;
  top: 20px;
  text-align:center;

  background: red;
  border: 2px solid #333;
  border-radius: 3px;

  color: #fff;
  cursor: default;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
          "HelveticaNeue-Light",
          "Helvetica Neue Light",
          "Helvetica Neue",
          Helvetica,
          Arial,
          "Lucida Grande",
          sans-serif;
}

ul {
  list-style: none;
  word-wrap: break-word;
  padding:0;
}

canvas{
  width:100%;
  height:100%;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
    position: absolute;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login & Roomcange Pages*/

.login.page, .passcode.page {
  background-color: #000;
}

.login.page .form, .passcode.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
  max-width: 100%;
}

.login.page .form .usernameInput, .passcode.page .form .passcodeInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  max-width: 100%;
}

.login.page .title, .passcode.page .title {
  font-size: 200%;
}

.login.page .usernameInput, .passcode.page .passcodeInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .passcode.page .title, .login.page .usernameInput, .passcode.page .passcodeInput {
  color: #fff;
  font-weight: 100;
}

/**
 * Canvas
 */
/*
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
*/
.colors {
  position: fixed;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
